parameters:


application:
	errorPresenter: Error

session:
	expiration: 14 days

services:
	posts: PostsRepository
	comments: CommentsRepository
	authenticator: MainAuthenticator
	router: App\RouterFactory::createRouter

database:
	dsn: 'mysql:host=sql.endora.cz;dbname=danielkrul'
	user: 'danielkrul'
	password: 
	explain: true
	debugger: true